{% extends 'base.html' %}

{% load static %}

{% block contenido %}
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<div align="center" id="loading-message" style="display: none;">
    <p>Realizando respaldo...</p>
</div>

<script>
    function realizarRespaldo(idEquipo) {
        document.getElementById('loading-message').style.display = 'block';
        fetch("{% url 'respaldo_individual' 0 %}".replace('0', idEquipo), {
            method: 'POST',
            headers: {
                'X-CSRFToken': "{{ csrf_token }}",
                'Content-Type': 'application/json',
                'Accept': 'application/json',
            },
        })
        .then(response => {
            document.getElementById('loading-message').style.display = 'none';
            if (response.ok) {
                return response.json().then(data => {
                    //SweetAlert con el mensaje de éxito
                    Swal.fire({
                        title: 'Mensaje',
                        text: data.mensaje,
                        icon: 'success',
                    }).then(() => {
                        window.location.href = data.redirect_url;
                    });
                });
            } else {
                throw new Error('Hubo un error al realizar el respaldo.');
            }
        })
        .catch(error => {
            document.getElementById('loading-message').style.display = 'none';
            // Manejar errores
            Swal.fire({
                title: 'Error',
                text: error.message,
                icon: 'error',
            }).then(() => {
                window.location.reload();
            });
            console.error('Error al realizar el respaldo:', error);
        });
    }

    function descargar(id) {
        window.location.href = "{% url 'descargar' 0 %}".replace('0', id);
    }
</script>

<br>
<div class="card">
    <div class="card-body">
        <table class="table table-striped table-hover table-responsive-sm">
            <tr>
                <th>Respaldos para {{ equipo.ip }}</th>
                <th>
                    <button type="button" class="btn btn-primary" onclick="realizarRespaldo({{ equipo.id }})">
                        Realizar Respaldo para {{ equipo.ip }}
                    </button>
                </th>
                <th>
                    
                </th>
            </tr>
            {% for r in entity %}
                    <tr>
                        <td>{{ r.contenido}}</td>
                        <td>{{ r.id_backup.date }}</td>
                        <td>
                            <button type="button" class="btn btn-primary" onclick="descargar({{ r.id }})">Descargar</button>
                        </td>
                    </tr>
            {% endfor %}
        </table>
        <br>
        <div>
            {% include 'paginator.html' %}
        </div>
    </div>
</div>
{% endblock %}


